body {
  font-size: 12px;
  font-family: 'Microsoft YaHei';
  color: #4d4d4d;
  background: #639;
}
.title {
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.15);
  padding: 10px 0;
  color: #84888a;
  font-family: cursive;
  font-size: 26px;
  line-height: 26px;
}
.meeting {
  width: 100%;
  box-sizing: border-box;
}
.meeting-temp {
  display: none;
}
.meeting-col {
  padding: 20px 10px;
}
.meeting-list-wrapper {
  background-color: #E2E4E6;
  border-radius: 3px;
}
.meeting-board-wrapper {
  padding-bottom: 1px;
}
.meeting-card {
  padding: 10px;
  margin: 0 10px 10px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
.meeting-card [name="title"] {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.meeting-card .wf-input-label .wf-input-addon-prefix {
  box-sizing: border-box;
  width: 24%;
  padding: 8px 0;
  text-align: center;
}
.meeting-card .wf-input-label .wf-input {
  width: 76%;
  box-sizing: border-box;
}
.meeting-time {
  margin-top: 10px;
}
.meeting-time .wf-col-2 {
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.meeting-date {
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
}
.meeting-add {
  padding: 5px 10px;
  color: #8c8c8c;
  font-size: 14px;
  cursor: pointer;
}
.meeting-action {
  margin-top: 10px;
  float: right;
}
.meeting-action .wf-btn {
  margin-left: 5px;
}
.meeting-userName .wf-input {
  width: 100%;
  box-sizing: border-box;
}