body {
    font-size: 12px;
    font-family: 'Microsoft YaHei';
    color: #4d4d4d;
}

.clear {
    zoom: 1;

    &:after {
        display: block;
        clear: both;
        content: "";
        visibility: hidden;
        height: 0;
    }
}

* {
    padding: 0;
    margin: 0;
}

input {
    outline: none;
}

.lists-wrap {
    margin: 50px;

    .list-meeting {
        float: left;
        display: inline-block;
        width: 23%;
        margin: 0 1%;
        background-color: #E2E4E6;

        .date {
            margin-top: 10px;
            text-align: center;
            font-size: 24px;
        }

        .meeting {
            padding: 10px;
            margin: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #fff;

            input {
                width: 50px;
                height: 18px;
                padding: 3px;
                line-height: 18px;
                color: #4d4d4d;
                border: 1px solid #fff;
            }

            .focus-input {
                border-radius: 2px;
                border: 1px solid #E2E4E6;
            }

            .title {
                height: 30px;
                margin-bottom: 5px;
                line-height: 30px;
                font-size: 16px;

                input {
                    width: 217px;
                }
            }

            .bd {


                .details {
                    margin-bottom: 5px;

                    div {
                        display: inline-block;
                        float: left;
                        padding-right: 5px;

                        &.meetingRoom {
                            input {
                                width: 80px;
                            }
                        }
                    }

                    .timeStart {
                        .edit {
                            width: 68px;
                            text-align: center;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    .timeEnd {
                        .edit {
                            width: 68px;
                            text-align: center;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

                .user {
                    text-align: right;

                    .edit {
                        width: 50px;
                        text-align: center;
                    }

                    .save {
                        display: none;
                    }

                    input {
                        width: 70px;
                    }
                }



                .handle {
                    position: relative;

                    .icon-edit {
                        position: absolute;
                        top: -89px;
                        right: -4px;


                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .save, .dele {
                        display: none;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    input {
                        height: 24px;
                        line-height: 24px;
                        text-align: center;
                        width: 43px;
                        padding: 0;
                        margin-right: 5px;
                    }
                }
            }
        }

        .new-metting {
            .bd {
                .handle {
                    .save {
                        display: inline-block;
                    }

                    .dele {
                        display: inline-block;
                    }
                }
            }
        }

        .metting-add {
            padding: 5px 10px;
            color: #8c8c8c;
            font-size: 14px;
            cursor: pointer;
        }

        .metting-text {
            display: none;
        }
    }
}
