body {
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  color: #4d4d4d;
}
* {
  margin: 0;
  padding: 0;
}
.clear {
  zoom: 1;
}
.clear:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.lists-wrap {
  margin: 50px;
}
.lists-wrap .list-meeting {
  background-color: #E2E4E6;
  display: inline-block;
  float: left;
  width: 23%;
  margin: 0 1%;
}
.lists-wrap .list-meeting .date {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}
.lists-wrap .list-meeting .meeting {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.lists-wrap .list-meeting .meeting input {
  width: 50px;
  height: 18px;
  line-height: 18px;
  padding: 3px;
  color: #4d4d4d;
  border: 1px solid #fff;
}
.lists-wrap .list-meeting .meeting .focus-input {
  border-radius: 2px;
  border: 1px solid #E2E4E6;
}
.lists-wrap .list-meeting .meeting .title {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 5px;
}
.lists-wrap .list-meeting .meeting .title input {
  width: 217px;
}
.lists-wrap .list-meeting .meeting .bd .details {
  margin-bottom: 5px;
}
.lists-wrap .list-meeting .meeting .bd .details div {
  display: inline-block;
  float: left;
  padding-right: 5px;
}
.lists-wrap .list-meeting .meeting .bd .details div.meetingRoom input {
  width: 80px;
}
.lists-wrap .list-meeting .meeting .bd .user {
  text-align: right;
}
.lists-wrap .list-meeting .meeting .bd .user .save {
  display: none;
}
.lists-wrap .list-meeting .meeting .bd .user input {
  width: 70px;
}
.lists-wrap .list-meeting .meeting .bd .handle {
  position: relative;
}
.lists-wrap .list-meeting .meeting .bd .handle .icon-edit {
  position: absolute;
  top: -93px;
  right: -5px;
}
.lists-wrap .list-meeting .meeting .bd .handle .icon-edit:hover {
  cursor: pointer;
}
.lists-wrap .list-meeting .meeting .bd .handle .save,
.lists-wrap .list-meeting .meeting .bd .handle .dele {
  display: none;
}
.lists-wrap .list-meeting .meeting .bd .handle input {
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 50px;
  padding: 0;
  margin-right: 5px;
}
.lists-wrap .list-meeting .metting-add {
  color: #8c8c8c;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}
.lists-wrap .list-meeting .metting-text {
  display: none;
}