body {
  font-size: 12px;
  font-family: 'Microsoft YaHei';
  color: #4d4d4d;
  background: rebeccapurple;
}
.clear {
  zoom: 1;
}
.clear:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.nav {
  overflow: hidden;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.15);
}
.nav .icon-img {
  width: 120px;
  height: 30px;
  margin: 2px auto;
}
.lists-wrap {
  width: 1300px;
  margin: 50px auto;
}
.lists-wrap .meeting-wrap {
  position: relative;
}
.lists-wrap .list-meeting {
  display: inline-block;
  float: left;
  width: 290px;
  margin: 0 1%;
  border-radius: 3px;
  background-color: #E2E4E6;
}
.lists-wrap .list-meeting .date {
  margin-top: 10px;
  text-align: center;
  font-size: 24px;
}
.lists-wrap .list-meeting .meeting {
  position: relative;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
.lists-wrap .list-meeting .meeting input {
  width: 50px;
  height: 18px;
  padding: 3px;
  border: 1px solid #fff;
  line-height: 18px;
  color: #4d4d4d;
}
.lists-wrap .list-meeting .meeting .focus-input {
  border: 1px solid #E2E4E6;
  border-radius: 2px;
}
.lists-wrap .list-meeting .meeting .title {
  height: 30px;
  margin-bottom: 5px;
  line-height: 30px;
  font-size: 16px;
}
.lists-wrap .list-meeting .meeting .title .mt {
  width: 70%;
  text-indent: 13px;
}
.lists-wrap .list-meeting .meeting .bd .details {
  margin-bottom: 5px;
}
.lists-wrap .list-meeting .meeting .bd .details div {
  display: inline-block;
  float: left;
  padding-right: 5px;
}
.lists-wrap .list-meeting .meeting .bd .details div.meeting-room {
  position: relative;
}
.lists-wrap .list-meeting .meeting .bd .details div.meeting-room .mr {
  width: 60px;
  text-indent: 13px;
}
.lists-wrap .list-meeting .meeting .bd .details div.meeting-room .mr:hover {
  cursor: pointer;
}
.lists-wrap .list-meeting .meeting .bd .details div.meeting-room .room-list {
  display: none;
  z-index: 2;
  position: absolute;
  top: 25px;
  width: 66px;
  background-color: #fff;
  border: 1px solid #e2e4e6;
}
.lists-wrap .list-meeting .meeting .bd .details div.meeting-room .room-list li {
  line-height: 24px;
  text-align: center;
}
.lists-wrap .list-meeting .meeting .bd .details div.meeting-room .room-list li:hover {
  background-color: #ff8000 ;
}
.lists-wrap .list-meeting .meeting .bd .details div.meeting-room .room-list li:hover a {
  color: #fff;
}
.lists-wrap .list-meeting .meeting .bd .details div.meeting-room .room-list a {
  color: #4d4d4d;
  text-decoration: none;
}
.lists-wrap .list-meeting .meeting .bd .details .time-start .edit-text {
  width: 65px;
  text-align: center;
}
.lists-wrap .list-meeting .meeting .bd .details .time-start .edit-text:hover {
  cursor: pointer;
}
.lists-wrap .list-meeting .meeting .bd .details .line {
  line-height: 24px;
}
.lists-wrap .list-meeting .meeting .bd .details .time-end .edit-text {
  width: 65px;
  text-align: center;
}
.lists-wrap .list-meeting .meeting .bd .details .time-end .edit-text:hover {
  cursor: pointer;
}
.lists-wrap .list-meeting .meeting .bd .user {
  margin-right: 9px;
  text-align: right;
}
.lists-wrap .list-meeting .meeting .bd .user .edit-text {
  width: 50px;
  text-align: center;
}
.lists-wrap .list-meeting .meeting .bd .user .save {
  display: none;
}
.lists-wrap .list-meeting .meeting .bd .user input {
  width: 70px;
}
.lists-wrap .list-meeting .meeting .bd .handle {
  margin-top: 8px;
}
.lists-wrap .list-meeting .meeting .bd .handle .edit {
  position: absolute;
  top: 12px;
  right: 12px;
}
.lists-wrap .list-meeting .meeting .bd .handle .edit:hover {
  cursor: pointer;
}
.lists-wrap .list-meeting .meeting .bd .handle .save,
.lists-wrap .list-meeting .meeting .bd .handle .cancal,
.lists-wrap .list-meeting .meeting .bd .handle .delete {
  display: none;
}
.lists-wrap .list-meeting .meeting .bd .handle .save:hover,
.lists-wrap .list-meeting .meeting .bd .handle .cancal:hover,
.lists-wrap .list-meeting .meeting .bd .handle .delete:hover {
  cursor: pointer;
}
.lists-wrap .list-meeting .meeting .bd .handle .btn {
  width: 43px;
  height: 24px;
  padding: 0;
  margin-right: 5px;
  line-height: 24px;
  text-align: center;
  background-color: #ddd;
}
.lists-wrap .list-meeting .new-metting .bd .handle .btn {
  display: inline-block;
  width: 43px;
  height: 24px;
  margin-right: 5px;
  line-height: 24px;
  text-align: center;
}
.lists-wrap .list-meeting .metting-add {
  padding: 5px 10px;
  color: #8c8c8c;
  font-size: 14px;
  cursor: pointer;
}
.lists-wrap .list-meeting .metting-text {
  display: none;
}
@keyframes sharkbd {
  0% {
    -webkit-transform: translateX(3px) rotate(2deg);
    border: 1px solid red;
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    border: 1px solid red;
  }
  40% {
    -webkit-transform: translateX(3px) rotate(2deg);
    border: 1px solid red;
  }
  60% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    border: 1px solid red;
  }
  80% {
    -webkit-transform: translateX(3px) rotate(2deg);
    border: 1px solid red;
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    border: 1px solid red;
  }
}
.shake {
  animation: sharkbd 1s;
}
body,
a,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
li,
th,
td,
p,
button,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
}

b,
em,
i,
strong,
th {
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input {
    background-color: #fff;
}

img {
    border: 0;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: left;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

:focus {
    outline: 0;
}